.DisplayWeather {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin: 10px auto;
}

.daily-weather {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  font-weight: bold;
}

.temp .max {
  color: #877E8C;
}

.daily-weather .type {
  color: #877E8C;
  font-size: 0.9em;
}

.daily-weather .icon {
  width: 100%;
  height: auto;
}

.day-detail {
  padding: 20px;
}

.temp {
  display: flex;
  justify-content: space-around;
}

.current-container {
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.current {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

.weather {
  display: flex;
  /* justify-content: space-between; */
}

.weather > * {
  width: 48%;
  margin: 0.5%;
  background-color: #f3fbff;
  padding: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.weather span {
  font-weight: bold;
}